.button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding: 10px 30px;
    color: #f7f7f7;
    cursor: pointer;
    transition: all .1s ease-in;
    width: 250px;
}

.button:active {
    transform: scale(0.99);
}