.CourseFolders {
    background-color: rgba(255, 255, 255, 0.05);
    height: 100%;
    overflow: auto;
    max-height: calc(100vh - 60px);
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1);
    position: sticky;
    top: 30px;

    &::-webkit-scrollbar {
        width: 8px;
        height: 12px;
        padding: 5px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.1);
        // border: 1px solid rgba(255, 255, 255, 0.1);
    }
}

.heading {
    text-align: center;
    margin-bottom: 15px;
    padding: 15px 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    font-weight: 400;
    font-size: 16px;
}