.category {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 15px 20px;

    & h2 {
        margin-left: 10px;
        font-weight: 300;
        font-size: 23px;
        text-transform: uppercase;
    }
    
    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }
}

.hidenWrapper {
    position: relative;

    & .hidenCategory {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 15px 20px;
    
        & h2 {
            margin-left: 10px;
            font-weight: 300;
            font-size: 23px;
            text-transform: uppercase;
        }
        
        &:hover {
            background-color: rgba(255, 255, 255, 0.05);
        }
    }

    & .folderWrapper {
        position: absolute;
        top: 0;
        left: 70px;
        background-color: #1e1e1e;
    }
}
