.heading {
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 20px;
    border-right: 2px solid #121212;

    & h1 {
        cursor: pointer;
        font-size: 25px;
        font-weight: 300;
    }

    & .icon {
        display: flex;
        align-items: center;
        column-gap: 1px;
        transform: rotateY(180deg);
    }
}